@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

$brandclr: #3498db;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
#header {
  width: 100%;
  height: 80vh;
  margin-top: 40px;
}
#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header h5 {
  color: #484848;
  font-size: 24px;
}
.navbar {
  background-color: #fff !important;
}

.logo {
  width: 90px;
}
.navbar a {
  font-size: 1.3rem;
  text-decoration: capitalize;
  margin-right: 30px;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover {
  color: $brandclr !important;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #348f50 0%,
    #56b4d3 51%,
    #348f50 100%
  );
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #fc00ff 0%,
    #00dbde 51%,
    #fc00ff 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 9px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  text-decoration: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.brand-name {
  color: $brandclr;
}

.animated {
  width: 500px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.s-img {
  background-color: rgb(188, 211, 229);
  height: 280px;
  width: 399px;
  transition: transform 0.4s ease-in-out;
  display: block;
}
.s-img:hover {
  background-color: rgb(162, 170, 216);
  transform: scale(1.1);
  cursor: pointer;
}
.card {
  overflow: hidden;
}
.parent:nth-child(1) .s-img {
  background-color: rgb(128, 185, 211);
}
.parent:nth-child(2) .s-img {
  background-color: rgb(180, 176, 118);
}
.parent:nth-child(3) .s-img {
  background-color: rgb(230, 94, 178);
}
.parent:nth-child(4) .s-img {
  background-color: rgb(204, 100, 100);
}
.parent:nth-child(5) .s-img {
  background-color: rgb(134, 125, 153);
}
.parent:nth-child(6) .s-img {
  background-color: rgb(107, 76, 76);
}
@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header-img {
    text-align: center;
  }
  #header .header-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #header {
    margin-top: 0px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 80%;
    margin-top: 50px;
  }
  .cont {
    margin-top: -30px !important;
  }
}
