* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.box {
  background-color: white;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3);
  height: 8rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  align-items: center;
}
.header {
  grid-column: 2 / 3;
  font-size: 2.5rem;
}
.header h1 {
  background: -webkit-linear-gradient(#eee, rgba(69, 57, 248));
  background-clip: text;

  color: transparent;
}
.listitems {
  grid-column: 3 / 4;
}
.icons {
  grid-column: 4 / 5;
}
.ulitems {
  display: flex;
  justify-content: space-around;
}
.ulicons {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  justify-items: end;
}
.ulicons li:first-child {
  grid-column: 2/3;
}
.ulitems > li {
  list-style: none;
  font-size: 1.8rem;
}
.ulicons > li {
  list-style: none;
}
.MuiSvgIcon-root {
  font-size: 2.5rem !important;
}
.hambergur {
  display: none;
}

@media (max-width: 1080px) {
  .box {
    height: 6rem;
    grid-template-columns: 2rem 2fr 3fr 2fr 2rem;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 50px 100px -10px rgba(50, 50, 93, 0.25),
      0px 30px 60px -30px rgba(0, 0, 0, 0.3);
  }
  .hambergur {
    display: none;
  }
}
@media (max-width: 998px) {
  .box {
    height: 5rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    box-shadow: 0px 50px 100px -5px rgba(50, 50, 93, 0.25),
      0px 30px 60px -30px rgba(0, 0, 0, 0.3);
  }
  .listitems {
    display: none;
  }

  .ulicons {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2 / 4;
    position: relative;
    z-index: 99;
  }
  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    box-shadow: 0px 50px 100px -5px rgba(50, 50, 93, 0.25),
      0px 30px 60px -30px rgba(0, 0, 0, 0.3);
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
  }
  .mobile-menu-link ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .mobile-menu-link ul li {
    margin: 10px;
  }

  .icons {
    grid-row: 1 / 2;
  }
  .hambergur {
    display: block;
  }
}
