.navbar {
  display: flex;
  padding: 2rem 3.6rem;
  justify-content: space-between;
  height: 5vh;
  background-color: white;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
}
.logo h4 {
  font-weight: 700;
  margin: 0;
  margin-left: 0.8rem;
  font-size: 1.7rem;
  color: rgb(130, 130, 184);
}
.user h5 {
  color: rgb(130, 130, 184);
  margin: 0;
  margin-left: 0.8rem;
  font-weight: 600;
  font-size: 1rem;
}
