.container {
  background-color: #f1f3f7;
  padding: 2.7rem 4rem;
  height: calc(100vh - 5vh);
}
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  row-gap: 25px;
  column-gap: 20px;
}
.card {
  width: 300px;
  background-color: white;
  padding: 0.8rem 0rem;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.card_info {
  width: 285px;
  margin: auto;
}
.card .img {
  width: 285px;
}
.body {
  padding: 0.6rem 0rem;
}
.body h5 {
  font-weight: 700;
  font-size: 01rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0rem;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
