body {
  background-color: black;
  color: white;
}
.navbar {
  list-style: none;
}
.navbar ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}
.navbar ul li a {
  text-decoration: none;
  border-radius: 5px;
  padding: 4px 18px;
  background: transparent;
  color: white;
  border: 1px solid purple;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}
.navbar ul li a:hover {
  background-color: #62b5f8;
}
