* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.descr {
  height: 200px;
  padding: 10px 30px;
}
.img-div {
  padding: 0px;
}
.img-fluid {
  height: 210px;
  transition: 0.5s transform ease-in-out;
}
.img-fluid:hover {
  transform: scale(1.1);
}
.item-inside {
  height: 210px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  border-radius: 11px;
}
.pricebox {
  height: 40px;
  line-height: 30px;
}
.item-inside:hover {
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.3);
}
.order {
  background-color: #40a9ac;
  color: white;
}
.order:hover {
  color: white;
}
